@import url(reset.css);
@import url(padrao.css);

.pagina-login {
    background-color: aquamarine; 
}
.login {
    width: 100w;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-login{
    background-color: blue;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-login input {
    width: 80%;
}
.form-login button {
     margin-top: 20px;
     width: 80%;
    padding: 5px;
}
.form-login label {
   display: flex;
   
}